html{
    box-sizing: border-box;
}
#ping-pong{
    border: 2px solid black;
    width: 700px;
    height: 400px;
    position: relative;
}
#paddle{
    background-color: blueviolet;
    width: 10px;
    height: 80px;
   margin-left: 10px;
  
   position: absolute;
}
#ball{
    background-color: brown;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}